@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

@keyframes move-reverse {
    100% {
        transform: translate3d(0, 0, 1px) rotate(-360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #173e60;
    overflow: hidden;
}

.background span {
    width: 1vmin;
    height: 1vmin;
    border-radius: 1vmin;
    backface-visibility: hidden;
    position: absolute;
    /* animation: move; */
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.center {
    justify-content: center; 
    align-items: center; 
    display: flex; 
    height: 100%
}

.display-name {
    font-family: "Open Sans";
    color: rgb(243 242 242);
    text-align: center;
}

.fab, .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
.fab:hover, fa.hover {
opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
  }
  
.fa-linkedin {
    background: #55ACEE;
    color: white;
}

.fa-github {
    background: #6e40c9;
    color: white;
}

.fa-file-pdf {
    background: #c24039;
    color: white;
}

.fa-envelope {
    background: #ea4335;
    color: white;
}

.social {
    text-align: center;
}

.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  